.mat-list-base[dense] .mat-list-item.mat-list-item-with-avatar, .mat-list-base[dense] .mat-list-option.mat-list-item-with-avatar {
    height: 36px;
    font-size: 14px;
    line-height: 14px;
}
.mat-list-base[dense] .mat-form-field {
    margin-top:20px;
}

.mat-list-item-content {
    padding: 0 8px;
}

.mat-list-base[dense] {
    padding-top: 0px;
}

.mat-list-base[dense] .mat-list-item {
    height: 36px;
}
