.login-wrap {
    background-color: #fff;
    padding: 12px 48px;
}

.login-form-action-wrap {
    padding-top: 8px;
}

.dark-theme .login-wrap {
    color: rgb(189,189,189);
    background-color: rgb(20,20,20);
}
